@model Domainclasses.Modes.Price

<div style="direction:rtl">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.neme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.neme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
