@model PagedList.IPagedList<Domainclasses.Modes.GalleryItem>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "لیست آیتم های گالری";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Sidebar{
    تصاویر گالری
}


<p>
    <a class="jq-btn" data-url="/panel/Galleryitem/Create" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">ایجاد تصویر جدید</a>
</p>
<table class="table table-bordered" style="direction:rtl">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Gallery.name)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().name)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().describtion)
        </th>
        <th style="text-align: center">
            تصویر
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
{
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.Gallery.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Truncate.TruncateString(item.describtion, 90)
        </td>
        <td>
            @if (item.name==null)
            {

                <img width="100" class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
            }
            else
            {


                var url = string.Format("/images/Services/gallery/{0}", item.FileName);
                    <div>
                        <img width="100" class="img-thumbnail" src=@url alt="@item.name" />
                    </div>
               

            }

        </td>
        <td>
            <a class="jq-btn" data-url="/panel/GalleryItem/Edit/@item.GalleryItemId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">اصلاح</a> |
            <a class="jq-btn" data-url="/panel/GalleryItem/Details/@item.GalleryItemId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">جزئیات</a> |
            <a class="jq-btn" data-url="/panel/GalleryItem/Delete/@item.GalleryItemId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">حذف</a>
        </td>
       
    </tr>
}

</table>

<br />
صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))