@using Microsoft.AspNet.Identity
@model SaremChap.Models.ManageUserViewModel

<div class="text-right" style="background:#d0c227; padding:40px; color:#4b460f; border-radius:4px;">

    
        وارد شده اید <strong>@User.Identity.GetUserName()</strong>شما با نام کاربری 
  
    
    
    </div>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control text-right" , @placeholder="رمز عبور فعلی"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control text-right", @placeholder = "رمز عبور جدید" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-right", @placeholder = "تکرار رمز عبور جدید" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=" تغییر رمز عبور " class="col-md-offset-10 submitclick" />
        </div>
    </div>
}
