@model Domainclasses.Modes.Form


<div class="call-action call-action-boxed call-action-style2 clearfix text-right">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Product.name)
    </dt>

    <dd>
        @Html.DisplayNameFor(model => model.Product.name)


    </dd>

    <dt>
        @Html.DisplayFor(model => model.Fa_Title)


</dt>

<dd>
    @Html.DisplayNameFor(model => model.Fa_Title)


</dd>
<dt>
    @Html.DisplayFor(model => model.En_Title)
</dt>

<dd>
    @Html.DisplayNameFor(model => model.En_Title)


</dd>


</dl>
</div>
