@model Domainclasses.Modes.Field

<div class="call-action call-action-boxed call-action-style2 clearfix text-right">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayFor(model => model.Form.Fa_Title)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.Form.Fa_Title)


        </dd>

        <dt>@Html.DisplayFor(model => model.TitleEn)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.TitleEn)


        </dd>

        <dt>@Html.DisplayFor(model => model.TitleFa)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.TitleFa)


        </dd>

        <dt>@Html.DisplayFor(model => model.RequiredField)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.RequiredField)


        </dd>

        <dt>@Html.DisplayFor(model => model.DisabledField)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.DisabledField)


        </dd>

        <dt>@Html.DisplayFor(model => model.Options)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.Options)


        </dd>

        <dt>@Html.DisplayFor(model => model.FieldType)


        </dt>

        <dd>@Html.DisplayNameFor(model => model.FieldType)


        </dd>

    </dl>
</div>
