@model Domainclasses.Modes.ProductCategory
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-banner" style="padding:40px 0; background: url(/Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                @if (Model.ProductCategoryFileses.Count == 0)
                {

                    <img class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
                }
                else
                {
                    foreach (var file in Model.ProductCategoryFileses)
                    {

                        var url = string.Format("/images/Services/productCategory/{0}", file.FileName);
                        <div>
                            <img width="200" class="img-thumbnail" src=@url alt="@file.FileName" />
                        </div>
                    }

                }

            </div>
            <div class="col-md-8" style="text-align:right">
                <h1>@Model.name</h1>
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.describtion))</p>
            </div>

        </div>
    </div>
</div>
<br /><br />
<div class="container" style="text-align: right">
    <div class="row">
        @foreach (var p in @Model.Product)
        {
            <div class="col-md-4">
                <div class=" call-action call-action-boxed call-action-style1 clearfix" style="height: 350px; margin-bottom: 20px; overflow: hidden; padding: 10px 20px;">
                    <div class="col-md-12">
                        <h3 style="margin-bottom: 10px; direction: rtl">@Html.DisplayFor(modelItem => p.name)</h3>

                        @if (p.Files.Count == 0)
                        {
                            <a href="/View/Product/Service/@p.ProductID">
                                <img class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم "/>
                            </a>
                        }
                        else
                        {
                            foreach (var file in p.Files)
                            {

                                var url = string.Format("/images/Services/service/{0}", file.FileName);
                                <a href="/View/Product/Service/@p.ProductID">

                                    <img class="img-thumbnail" src=@url alt="@file.FileName" style="height: 250px"/>

                                </a>
                            }

                        }

                        <a href="/View/Product/Service/@p.ProductID" class="btn-system border-btn btn-large btn-purple" style="margin-top: 10px; text-align: center; width: 100%;"> مشاهده جزئیات <i class="fa fa-eye"></i> </a>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

<div class="project">
    <div class="container">
        <!-- Start Recent Projects Carousel -->
        <div class="recent-projects">
            <h4 class="title" style="text-align: right; direction: rtl; margin-right: 80px"><span> خدمات دیگر چاپ صارم .... </span></h4>
            <div id="relatedCarousel" class="projects-carousel touch-carousel">

                @foreach (var p in ViewBag.RelatedProduct)
                {
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <div class="portfolio-thumb">
                                <a href="/View/Product/Category/@p.ProductCategoryID">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    @if (p.ProductCategoryFileses.Count == 0)
                                    {

                                        <img class="lazyOwl" data-src="/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
                                    }
                                    else
                                    {
                                        foreach (var file in p.ProductCategoryFileses)
                                        {
                                            var url = string.Format("/images/Services/productCategory/{0}", file.FileName);
                                            <div>
                                                <img class="lazyOwl" data-src="@url" alt="@file.FileName">
                                            </div>
                                        }

                                    }

                                </a>
                            </div>
                            <div class="portfolio-details">
                                <a href="/View/Product/Category/@p.ProductCategoryID">
                                    <h4 class="text-right direction-right">@p.name</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
        <!-- End Recent Projects Carousel -->
    </div><!-- .container -->
</div>
<br/>

@section TagMeta{

    @Model.Tags


}
@section ContentMeta{

    @Model.name

}
@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}


