@model IEnumerable<Domainclasses.Modes.Order>
@using Domainclasses.Modes;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>چاپ فاکتور سفارش</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
<div class="container" style="border:thin solid #b0b0b0">
    <div class="row text-right">
        <a href="#" class="submitclick" onclick="PrintFunction()" id="print">چاپ فاکتور</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/Content/images/margo.png" />
        </div>
        <div class="col-md-6 text-right">
            <h2>چاپ صارم</h2>
            <p>
                <strong>آدرس :</strong>
                تهران، خیابان سمیه، خیابان خاقانی، پلاک 75، واحد 3
                <i class="fa fa-globe"> </i>
            </p>
            <p>
                info@saremchap.ir
                <strong>: ایمیل</strong>
                <i class="fa fa-envelope-o"></i>
            </p>
            <p>
                <strong>تلفن :</strong>
                021-88866907
                <i class="fa fa-mobile"></i>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">

            @foreach (var item in Model)
            {
                <h2 style="color:#005392">
                    مشخصات مشتری
                </h2>
                <p>مشتری : @item.FirstName   @item.LastName</p>
                <p>تلفن : @item.Phone موبایل :  @item.Mobile</p>
                <p>آدرس : @item.Address</p>
                <p> کد پستی : @item.PostalCode</p>
                <p>پست الکترونیکی : @item.Email</p>
            }


        </div>
        <div class="col-md-6 text-right">

            @{int i = 0;}
            @foreach (var val in ViewBag.field)
            {
                if (i == 0)
                {
                    <h2 style="color:#005392">@val.Form.Fa_Title</h2>
                }


                i++;
            }

            <br />

            @foreach (var item in Model)
            {
                <p>تاریخ شفارش : @item.OrderDate.ToString("dd MMM yyyy")</p>
                <p>شماره پیگیری : @item.SubmitFormId</p>
            }

        </div>
    </div>
    <div class="row">
        <table class="table table-striped text-right">
            <thead>
                <tr style="background:#530490; color:white">
                    <td> مشخصات </td>
                    <td> نام </td>

                    <td> شماره </td>
                </tr>
            </thead>
            <tbody>

                @{
                    var number = 1;
                }

                @foreach (var f in ViewBag.field)
                {
                    var type = f.Field.FieldType.ToString();
                    if (type == "Image")
                    {
                        <tr>

                            <td><img src="@f.Val" width="200" /></td>
                            <td>  : @f.Field.TitleFa</td>
                            <td>@number</td>
                        </tr>
                    }
                    else if (type == "Geocaching")
                    {

                        <tr>
                            <td> @f.Val  <samp> : متر  </samp>  </td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }
                    else if (type == "ShippingCost")
                    {

                        <tr>
                            <td> @f.Val  <samp>:  تومان</samp>   </td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }

                    else if (type == "TotalPrice")
                    {

                        <tr>
                            <td> @f.Val  <samp>:  تومان</samp>   </td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }

                    else if (type == "Number")
                    {

                        <tr>
                            <td> @f.Val  <samp>:  تعداد</samp>   </td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }

                    else if (type == "Checkbox")
                    {
                        var str = f.Val;
                        var tic = "";

                        if (str != "" && str == "on")
                        {
                            tic = "tick_green.png";
                        }
                        else
                        {
                            tic = "close_red.png";
                        }
                        <tr>
                            <td><img src="/Content/images/icon/@tic" width="40" /></td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }


                    else
                    {

                        <tr>
                            <td> @f.Val</td>
                            <td> : @f.Field.TitleFa</td>
                            <td>@number</td>

                        </tr>

                    }



                    number++;

                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function PrintFunction() {
        window.print();
    }
</script>

<br /><br />

</body>
</html>
