@model Domainclasses.Modes.Subject

@{
    ViewBag.Title = Model.SubjectLead;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="init-page"></div>*@
<div id="container">



    <div class="page-banner" style="padding:40px 0; background: url(/Content/images/slide-02-bg.jpg) center #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="breadcrumbs" style="width:100%; text-align:right">
                        <li>@Model.SubjectLead</li>
                        <li><a href="/view/Subject/list/@Model.Chapter.ChapterId">@Model.Chapter.Name</a></li>
                        <li><a href="/">صفحه اصلی</a></li>
                    </ul>
                </div>
                <div class="col-md-6" style="text-align:right">
                    <h2>مطالب</h2>
                    <p>مرکز چاپ نوین</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row blog-page">

                <!-- Start Blog Posts -->
                <div class="col-md-9 blog-box">

                  
                    <div class="blog-post gallery-post" style="direction:rtl">

                        <!-- Start Single Post (Gallery Slider) -->
                        <div class="post-head" style="background:#f1f1f1">
                            <a href="#">
                                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                @if (Model.SubjectFiles.Count == 0)
                                {

                                    <img class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
                                }
                                else
                                {
                                    foreach (var file in Model.SubjectFiles)
                                    {

                                        var url = string.Format("/images/Services/subject/{0}", file.FileName);
                                        <a class="lightbox" data-lightbox-gallery="gallery1" href="@url" title="@Model.SubjectLead">
                                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                            <img class="img-thumbnail" src=@url alt="@Model.SubjectLead" />
                                        </a>
                                    }

                                }
                            </a>
                        </div>
                        <!-- End Single Post (Gallery) -->
                        <!-- Start Single Post Content -->
                        <div class="post-content">
                            <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            <h2 style="padding-right:50px">@Model.SubjectLead</h2>
                            <ul class="post-meta" style="padding-right:50px">
                                <li>نوشته شده توسط : <a href="#">@Model.Authors</a></li>
                                <li> در تاریخ : @Model.SubjectDate.ToString("dd. MM. yyyy")</li>
                                <li>گروه : <a href="/view/Subject/list/@Model.Chapter.ChapterId">@Model.Chapter.Name</a></li>

                            </ul>
                            <p>

                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.SubjectContent))

                            </p>

                            <div class="post-bottom clearfix">
                                <div class="post-tags-list">
                                    <a href="/view/Subject/list/@Model.Chapter.ChapterId">@Model.Chapter.Name</a>
                                    
                                </div>
                                <div class="post-share">
                                    <span>انتشار این مطلب :</span>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                    <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            @*<div class="author-info clearfix">
                                <div class="author-image">
                                    <a href="#"><img alt="" src="images/author.png" /></a>
                                </div>
                                <div class="author-bio">
                                    <h4>About The Author</h4>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia desrut mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                </div>
                            </div>*@
                        </div>
                        <!-- End Single Post Content -->

                    </div>
                   
                </div>
                <!-- End Blog Posts -->
                <!--Sidebar-->
                <div class="col-md-3 sidebar right-sidebar">

                    @*<!-- Search Widget -->
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="search" placeholder="Enter Keywords..." />
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Categories Widget -->*@
                    @{Html.RenderAction("LSCategoryList", "Partials", new { Area = "PartialsView" });}


                    <!-- Popular Posts widget -->
                    @{Html.RenderAction("LatesPost", "Partials", new { Area = "PartialsView" });}


                    <!-- Tags Widget -->
                    <div class="widget widget-tags">
                        <h4>کلید واژه  <span class="head-line"></span></h4>
                        <div class="tagcloud">
                            @foreach (var tag in Model.Tags.Split(','))
                            {
                                <a href="#">@tag</a>
                            }
                        </div>
                    </div>

                </div>
                <!--End sidebar-->


            </div>
        </div>
    </div>
    <!-- End Content -->


</div>
<!-- End Container -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

@section TagMeta{
   
   
        @Model.Tags
   


}

@section ContentMeta{
   
        @Model.SubjectContent<text>.</text>
   
}

@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}

   