@model PagedList.IPagedList<Domainclasses.Modes.Chapter>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "لیست گروه مطلب";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Sidebar{
    ایجاد گروه مطلب
}


<p>
    <a class="jq-btn" data-url="/panel/Chapter/Create" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">ایجاد گالری جدید</a>
</p>
<table class="table table-bordered" style="direction:rtl">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
{
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a class="jq-btn" data-url="/panel/Chapter/Edit/@item.ChapterId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">اصلاح</a> |
            <a class="jq-btn" data-url="/panel/Chapter/Details/@item.ChapterId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">جزئیات</a> |
            <a class="jq-btn" data-url="/panel/Chapter/Delete/@item.ChapterId" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">حذف</a>
        </td>
    </tr>
}

</table>


<br />
صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))